{{#*inline "page"}}
<div class="container">
  <form
    class="box"
    action="{{url}}"
    enctype="application/x-www-form-url-encoded"
    method="post"
  >
    {{> partials/textarea name="value" label="Text" value=fragment.value }}
    {{> partials/savebutton }}
    <div>
      <a href="{{back}}">Back</a>
    </div>
  </form>
</div>
{{/inline}}

{{> base}}
