<div class="field is-horizontal">
  <div class="field-label"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-primary">Save</button>
      </div>
    </div>
  </div>
</div>
