{{#*inline "page"}}
<section>
  <div class="container">
    <form class="box" action="/ethics/editions/new" method="post">
      {{> partials/textinput name="title" label="Title"}}
      {{> partials/textinput name="editor" label="Editor"}}
      {{> partials/textinput name="slug" label="Slug"}}
      {{> partials/savebutton }}
    </form>
  </div>
</section>
{{/inline}}

{{> base}}
