{{> ethica/top }}
<div class="section">
    <div class="container">
        <h2 class="title">Add an edition</h2>
        <div class="box">
            Add a new edition of the book. It will be empty, but with the
            structure already filled in. The fragments can then be filled in in
            place.
        </div>
        <form class="box" action="/ethica/editions/create" method="post">
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Title</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input
                                class="input"
                                name="title"
                                placeholder="Name by which the edition is known"
                                type="text"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Editor</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" name="editor" placeholder="Editor" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">
                        Language code
                    </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="select is-disabled">
                            <select name="language_code">
                                <option>TODO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Year</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input
                                class="input"
                                placeholder="Year"
                                type="text"
                                name="year"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{> bottom}}
