{{> ethica/top }}
<div class="section">
    <div class="container">
        <ul>
            {{#each schema as |pars|}}
                <li>
                    <a href="/">
                    {{pars.nodeType}}
                    {{pars.content.num}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
{{> bottom}}

