{{#*inline "page" }}
<section>
  <div class="container">

  {{#if success }}
    <div>
      {{success}}
    </div>
  {{/if}}
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Admin</p>
        <p class="subtitle">Proceed with caution</p>
        <div class="content">
          <a href="{{links.create_edition}}">Make a new one</a>
        </div>
      </article>
    </div>

    Choose an edition:

    <p>
    </p>

  </div>
</section>
{{/inline}}
{{> base}}
