{{> top}}
<div class="section">
  <div class="container">

  {{#if success }}
    <div>
      {{success}}
    </div>
  {{/if}}

    Choose an edition:

    <p>
    </p>

    <p>
      <a href="/ethics/editions/create">Make a new one</a>
    </p>
  </div>
</div>
{{> bottom}}
