{{#*inline "page" }}
<div class="section">
    <div class="container">
        {{#if success}}
        <div class="message is-success">
            <div class="message-body">
                {{success}}
            </div>
        </div>
        {{/if}}
        <div class="box">
            {{edition.title}} <br />
            {{edition.year}} <br />
            {{edition.editor}} <br />
        </div>
    </div>
</div>
{{/inline}}
{{> base}}
