{{#*inline "page"}}
  <div class="box">
    <div class="title">
      Choose your game
    </div>
    <div>
      <a
        data-book="ethics"
        href="{{links.editions_index}}"
      >
        Ethics
      </a>
      (Spinoza)
    </div>
  </div>
{{/inline}}
{{> base}}
