@import 'bulma/bulma';

body {
  background-image: url('/static/bg.png');
  background-color: white;
  background-opacity: 0.8;
  min-height: 100vh;
}

textarea {
  min-height: 280px;
}

.depth-1 {
  margin-left: 10px;
}

.depth-2 {
  margin-left: 20px;
}

.depth-3 {
  margin-left: 30px;
}

.depth-4 {
  margin-left: 40px;
}

.depth-5 {
  margin-left: 50px;
}
