$body-background-color: rgba(140, 90, 40, 0.3);
$body-background-color: #4c4b63;
$body-size: 18px;
$family-primary: 'Noto Serif';
$weight-normal: 440;

@import 'bulma/bulma';

body {
  min-height: 100vh;
}

.container {
  h1, h2 {
    font-weight: 200;
    text-transform: uppercase;
  }

  h2 {
    letter-spacing: 10px;
  }

  h1 {
    letter-spacing: 20px;
  }
}

textarea {
  min-height: 280px;
}

.depth-1 {
  margin-left: 10px;
}

.depth-2 {
  margin-left: 20px;
}

.depth-3 {
  margin-left: 30px;
}

.depth-4 {
  margin-left: 40px;
}

.depth-5 {
  margin-left: 50px;
}
