
$bg-color : #F5F5F5;
// $bg-color : #232323;
// $bg-color: #F1EFE9;
$fg-color: #232323;
// $fg-color:  #F6EFE8;
$link-color: #7777dd;
$visited-link-color: #9966dd;

$content-width: 60em;

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
}

.app-container {
  display: grid;
  width: 100%;
  grid-template-rows: 2.2em 1fr;
  margin: 0;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  font-size: 2em;
  background-color: #a00;
  font-family: sans-serif;

  a {
    color: #eee;
    text-decoration: none;
  }

  .title {
    font-weight: bold;
  }
}

.content {
  background-color: $bg-color;
  color: $fg-color;
  padding: 1em;

  .container {
    max-width: 40em;
    margin: auto;
  }

  nav {
    width: $content-width;
  }

  a {
    color: $link-color;
  }

  a:visited {
    color: $visited-link-color;
  }
}
