$bg-color : #232323;
$fg-color:  #F6EFE8;
$link-color: #7777dd;
$visited-link-color: #9966dd;

$content-width: 60em;

body {
  margin: 0;
  font-family: sans-serif;
}

.app-container {
  display: grid;
  width: 100%;
  grid-template-rows: 2.2em 1fr;
  margin: 0;
  min-height: 100vh;
}

.banner {
  display: flex;
  align-items: center;
  font-size: 2em;
  background-color: #a00;

  a {
    color: #eee;
    text-decoration: none;
  }

  .title {
    font-weight: bold;
  }
}

.content {
  background-color: $bg-color;
  color: $fg-color;
  display: grid;
  grid-template-rows: 1.2em 1fr;
  grid-template-columns: 1.2em 1fr;
  flex-direction: column;

  nav {
    width: $content-width;
  }

  a {
    color: $link-color;
  }

  a:visited {
    color: $visited-link-color;
  }
}
